Repository qiskit-community/quantum-enablement, pull requests merged in 2024-04, with the labels that each got.

#5 docs(notebooks): add pulse-efficient transpilation guide
  docs/notebooks/pulse_efficient_transpilation_qsim.ipynb
Labels: PL-2, notebook

#30 chore: add review issue template for github
  .github/ISSUE_TEMPLATE/review.yaml
Labels: PL-2, content

#28 docs(notebooks): add estimator utility scaling demo
  docs/notebooks/scaling-estimator/ibm_pinguino1_48x20_2024-04-09T03.40.47.636630+00.00.json
  docs/notebooks/scaling-estimator/requirements.txt
  docs/notebooks/scaling-estimator/scaling-estimator.ipynb
Labels: PL-1, notebook

#13 docs(notebooks): add QAOA transpiler guide
  docs/notebooks/qaoa-transpiler.ipynb
Labels: PL-3, notebook

#36 docs(notebooks): rename qaoa file
  docs/notebooks/qaoa-best-practices.ipynb
Labels: PL-1, notebook

#37 docs(notebooks): rename pulse file
  docs/notebooks/pulse-efficient-transpilation.ipynb
Labels: PL-1, notebook

#38 docs(notebooks): remove `quantum-enablement` imports in `scaling-estimator`
  docs/notebooks/scaling-estimator/requirements.txt
  docs/notebooks/scaling-estimator/scaling-estimator.ipynb
Labels: PL-1, notebook

#40 docs(notebooks): use `UnitaryOverlap` for compute-uncompute in `scaling-estimator`
  docs/notebooks/scaling-estimator/scaling-estimator.ipynb
Labels: PL-1, notebook

#43 docs(challenges): add ZNE extrapolation notebook
  docs/challenges/zne.ipynb
Labels: PL-1, notebook
